.idea/*
.vscode/*
log/*
temp/*
!.gitignore
!.htaccess
!web.config
app/config/config.local.neon
app/config/config.package.neon
app/config/local.neon
www/_cache/*
node_modules/*
.DS_Store
.DS_*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
temp
.history/*