extensions:
	packageManagerExtension: Baraja\PackageManager\PackageManagerExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	dbal: Baraja\Doctrine\DBAL\DI\DbalExtension
	dbal.console: Baraja\Doctrine\DBAL\DI\DbalConsoleExtension(%consoleMode%)
	orm: Baraja\Doctrine\ORM\DI\OrmExtension
	orm.console: Baraja\Doctrine\ORM\DI\OrmConsoleExtension
	orm.annotations: Baraja\Doctrine\ORM\DI\OrmAnnotationsExtension
	baraja.database: Baraja\Doctrine\DatabaseExtension

parameters:
	packageRegistrator:
		customPackagesNamePatterns:
			- ^baraja-
	
	database:
		primary:
			host: 127.0.0.1
			dbname: sandbox
			user: root
			password: root
			driver: mysqli
	
	search:
		controllerNamespace: "Mathematicator\\SearchController\\{{name}}Controller"
	
	math:
		functions:
			- sin
			- cos
			- tan
			- cotan
			- log
			- log\d*
			- ln
			- sqrt

tracy:
	showLocation: true

dbal:
	debug: %debugMode%
	connection:
		host: %database.primary.host%
		driver: %database.primary.driver%
		dbname: %database.primary.dbname%
		user: %database.primary.user%
		password: %database.primary.password%

orm:
	entityManagerClass: Baraja\Doctrine\EntityManager

baraja.database:
	types:
		uuid: Baraja\Doctrine\UUID\UuidType
		uuid-binary: Baraja\Doctrine\UUID\UuidBinaryType
	
	propertyIgnoreAnnotations:
		- sample

orm.annotations:
	paths:
		App: %appDir%
		Model: %appDir%
		Baraja: %appDir%/../vendor/baraja-core
		Mathematicator: %appDir%/../vendor/mathematicator-core
	
	ignore: []

console:
	name: Baraja sandbox
	version: "3.0"
	catchExceptions: true
	autoExit: true
	url: https://baraja.cz
	lazy: false

services:
	baseOperation: Mathematicator\Calculator\Operation\BaseOperation
	boxRenderer: Mathematicator\Search\Renderer
	calculator: Mathematicator\Calculator\Calculator
	integralSolver: Mathematicator\Integral\IntegralSolver
	mathematicator.engine:
		factory: Mathematicator\Engine\Engine
		setup:
			- addExtraModule(@Mathematicator\Engine\SampleModule)
	
	mathematicator.queryNormalizer:
		factory: Mathematicator\Engine\QueryNormalizer
	
	mathematicator.translator:
		factory: Mathematicator\Engine\Translator
	
	search: Mathematicator\Search\SearchAccessor
	searchConsole: Mathematicator\Search\Console
	- Mathematicator\MandelbrotSet\MandelbrotSet(%tempDir%/mandelbrot-set)
	- Mathematicator\SearchController\NumberCounterController(%math.functions%)
	- Mathematicator\Tokenizer\TokensToLatex(%math.functions%)
	- Mathematicator\Tokenizer\Tokenizer(%math%)
	- Mathematicator\Router\Router(%math.functions%)
	- Baraja\Doctrine\EntityManagerDependencies
	- Mathematicator\MathFunction\FunctionManager
	- Mathematicator\Step\RomanIntSteps
	- Mathematicator\Step\Controller\StepPlusController
	- Mathematicator\Step\Controller\StepMultiplicationController
	- Mathematicator\Step\Controller\StepSqrtController
	- Mathematicator\Step\Controller\StepSqrtHelper
	- Mathematicator\Step\Controller\StepPowController
	- Mathematicator\Step\Controller\StepSinController
	- Mathematicator\MathFunction\SinFunction
	- Mathematicator\MathFunction\AbsFunction
	- Mathematicator\MathFunction\SqrtFunction
	- Mathematicator\Calculator\Operation\Factorial
	- Mathematicator\NewtonMethod
	- Mathematicator\Pi
	- Mathematicator\Tokenizer\TokensToObject
	- Mathematicator\Statistics\StatisticsManager
	- Mathematicator\Numbers\NumberFactory
	- Mathematicator\Vizualizator\MathFunctionRenderer
	- Mathematicator\Vizualizator\Renderer
	- Mathematicator\Step\StepEndpoint
	- Mathematicator\Calculator\Operation\DivisionNumbers
	- Mathematicator\Calculator\Operation\PowNumber
	- Mathematicator\SearchController\TreeController
	- Baraja\Doctrine\DoctrineHelper
	- Baraja\Doctrine\DoctrineHelperAccessor
	- Mathematicator\Search\Search
	- Mathematicator\SearchController\NumberController
	- Mathematicator\SearchController\DateController
	- Mathematicator\SearchController\IntegralController
	- Mathematicator\SearchController\SequenceController
	- Mathematicator\SearchController\OEISController
	- Mathematicator\SearchController\CrossMultiplicationController
	- Mathematicator\SearchController\MandelbrotSetController
	- Mathematicator\SearchController\OtherController
	- Baraja\Doctrine\EntityManagerDependenciesAccessor
	- Mathematicator\SearchController\ErrorTooLongController
	- Mathematicator\NumberRewriter
	- Mathematicator\NaturalTextFormatter
	- Mathematicator\Engine\SampleModule
	- Mathematicator\Calculator\TokensCalculator
	- Mathematicator\NumberHelper
	- Mathematicator\Step\StepFactory
	- Mathematicator\Calculator\Operation\AddNumbers
	- Mathematicator\Calculator\Operation\SubtractNumbers
	- Mathematicator\Calculator\Operation\MultiplicationNumber
	- Mathematicator\Integral\Solver\Solver
