baraja.database:
	debug: %debugMode%
	deprecatedParameters: %database.primary%
	propertyIgnoreAnnotations:
		- sample
		- endpointName
	
	types:
		uuid: Baraja\Doctrine\UUID\UuidType
		uuid-binary: Baraja\Doctrine\UUID\UuidBinaryType
		translate: Baraja\Localization\TranslateType

console:
	autoExit: true
	catchExceptions: true
	lazy: false
	name: Baraja sandbox
	url: https://baraja.cz
	version: "3.0"

extensions:
	baraja.database: Baraja\Doctrine\DatabaseExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	dbal.console: Baraja\Doctrine\DBAL\DI\DbalConsoleExtension(%consoleMode%)
	localization: Baraja\Localization\LocalizationExtension
	mathematicator.calculator: Mathematicator\Calculator\CalculatorExtension
	mathematicator.engine: Mathematicator\Engine\EngineExtension
	mathematicator.integralSolver: Mathematicator\Integral\IntegralSolverExtension
	mathematicator.mandelbrotSet: Mathematicator\MandelbrotSet\MandelbrotSetExtension
	mathematicator.search: Mathematicator\Search\SearchExtension
	mathematicator.statistic: Mathematicator\Statistics\StatisticExtension
	mathematicator.tokenizer: Mathematicator\Tokenizer\TokenizerExtension
	mathematicator.vizualizator: Mathematicator\Vizualizator\VizualizatorExtension
	orm: Baraja\Doctrine\ORM\DI\OrmExtension
	orm.annotations: Baraja\Doctrine\ORM\DI\OrmAnnotationsExtension
	orm.console: Baraja\Doctrine\ORM\DI\OrmConsoleExtension
	packageManagerExtension: Baraja\PackageManager\PackageManagerExtension
	psr11: Contributte\Psr11\DI\Psr11ContainerExtension

orm:
	entityManagerClass: Baraja\Doctrine\EntityManager

orm.annotations:
	ignore: []
	paths:
		Baraja\Localization: %rootDir%/vendor/baraja-core/localization/src/Entity

parameters:
	database:
		primary: []

services:
	- Baraja\Localization\Localization
